.bg {
    background-color: #edf2c5;
}
title
{
    width: 271px;
    height: 62px;
    margin: 0 669px 747px 0;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
}
header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 62px;
    margin-top: 36px;
    margin-bottom: 5px;
}
.line_login
{
    width: 1px;
    height: 25px;
    margin-bottom: 18px;
    background-color: #778a50;
}
.btn_FB{
    width: 25px;
    height: 25px;
    margin: 0 10px 18px 296px;
    object-fit: contain;
}
.btn_IG{
    width: 25px;
    height: 25px;
    margin: 0 10px 18px 296px;
    object-fit: contain;
}
.btn_{
    width: 46px;
    height: 15px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
}
.btn_box_LOGIN
{
  width: 60px;
  height: 25px;
  margin: 0 10px 18px;
  padding: 5px 7px;
  border: solid 1px #778a50
}
.btn_box_JOIN{
    width: 49px;
    height: 25px;
    margin: 0 0 18px 10px;
    padding: 5px 7px;
    border: solid 1px #778a50;
}
.title{
    display: flex;
    width: 271px;
    height: 62px;
    font-size: 44px;
    color: #778a50;
    margin-bottom: 5px;
    align-items: flex-end
}
.nav_box
{
  width: 940px;
  height: 44px;
  margin: 18px 0 20px;
  padding: 10px 316px 11px 30px;
  border-radius: 3px;
  background-color: #778a50;
}
.Contact {
    width: 69px;
    height: 23px;
    margin: 0 0 0 60px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
.Online {
    width: 56px;
    height: 23px;
    margin: 0 60px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
.Vegetables {
    width: 98px;
    height: 23px;
    margin: 0 60px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
.About-Us {
    width: 80px;
    height: 23px;
    margin: 0 60px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
.Home {
    width: 51px;
    height: 23px;
    margin: 0 60px 0 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
img.img_main_pumpkin {
    width: 940px;
    height: 448px;
    margin: 20px 0 30px;
    object-fit: contain;
}
.body_box_contact {
    width: 444px;
    height: 45px;
    margin: 0 0 15px;
    padding: 10px 345px 12px 30px;
    border-radius: 3px;
    background-color: #778a50;
}
.body_box_contact_text {
    width: 444px;
    height: 140px;
    margin: 15px 0 0;
    padding: 15px;
    background-color: #f7fbda;
}
.contact_text1{
    width: 414px;
    height: 44px;
    margin: 0 0 15px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
.line_contact_text {
    width: 414px;
    height: 1px;
    margin: 15px 0;
    background-color: #7d7d7d;
}
.contact_text2
{
    width: 197px;
    height: 35px;
    margin: 15px 217px 0 0;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
.body_box_vegetables {
    width: 444px;
    height: 45px;
    margin: 30px 52px 15px 0;
    padding: 10px 316px 12px 30px;
    border-radius: 3px;
    background-color: #778a50;
}
.Vegetables {
    width: 98px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
img.img_vegetables_pepper {
    width: 140px;
    height: 140px;
    margin: 15px 12px 0 0;
    object-fit: contain;
}
img.img_vegetables_carrot {
    width: 140px;
    height: 140px;
    margin: 15px 12px 0;
    object-fit: contain;
}
img.img_vegetables_corn {
    width: 140px;
    height: 140px;
    margin: 15px 52px 0 12px;
    object-fit: contain;
}
.box_footer {
    width: 1260px;
    height: 60px;
    margin: 880px 0 0;
    padding: 23px 479px 23px 480px;
    background-color: #778a50;
}
.Copyrights-2017-Vegetables-cise-Design-by-Vegetables {
    width: 301px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
